.tab-container {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab a {
    text-decoration: none;
    font-family: "Ubuntu";
    color: rgb(81, 71, 59);
}
.tab {
    border-radius: 7px 7px;
    border-color: rgb(104, 109, 112);
    padding: 5px;
    margin: 0px;
    background-color: #BCAC9B;
    cursor: pointer;
    border: none;
    word-spacing: normal;
    margin-right: 15px;
    box-shadow: 3px 3px #897d70;
    transition: 0.3s ease;
}
.tab:hover {
    background-color: #a09282;
}
h1 {
    font-family: 'Ubuntu';
    text-align: center;
    background-color: #BCAC9B;
    padding: 50px;
    border-radius: 7px 7px;
    box-shadow: 3px 3px #897d70;
    color: rgb(81, 71, 59);
}
html {
    background-color: #DDC9B4;
    font-family: 'Ubuntu';
}
.portrait-John {
    background-color: #BCAC9B;
    padding: 16px 16px;
    border-radius: 10px 10px;
    margin: 10px;
    border: none;
    box-shadow: 3px 3px #897d70;
}
.berry-computer-image {
    background-color: #BCAC9B;
    padding: 16px 16px;
    border-radius: 10px 10px;
    margin: 10px;
    border: none;
    box-shadow: 3px 3px #897d70;
}
.photo-gallery {
    display: flex;
}